<h1>Visualizando Usuário</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
