<% content_for :javascripts, javascript_include_tag('products_index') %>

<h1>Lista de produtos</h1>

Filtrar produtos: <input id="filter" />
<table>
  <tr>
    <th>Nome</th>
    <th>Preço</th>
    <th>Quantidade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td class="product-name"><%= link_to product.name, product %></td>
    <td><%= product.price %></td>
    <td><%= product.quant %></td>
    <td><%= link_to 'Dar baixa', baixa_product_path(product) %></td>
    <td><%= link_to 'Editar', edit_product_path(product) %></td>
    <td><%= link_to 'Remover', product, :confirm => 'Cofirma?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo produto', new_product_path %>
