<!DOCTYPE html>
<html>
<head>
  <title>Cew</title>
  <%= stylesheet_link_tag :all %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag :defaults %>
  <%= yield :javascripts %>
  <%= csrf_meta_tag %>
</head>
<body>

<% if session[:user] %>
<ul id="usermenu">
  <li><a href="/logout">Logout</a>
</ul>

<ul id="menu">
  <li><%= link_to "Usuários", users_path %>
  <li><%= link_to "Produtos", products_path %>
</ul>
<% end %>

<%= yield %>

</body>
</html>
